server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/spring_batch
    username: postgres
    password: esbgw123!
    driver-class-name: org.postgresql.Driver


  batch:
    jdbc:
      initialize-schema: always
    job:
      names: ${job.name:NONE}


  main:
    allow-bean-definition-overriding: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher